# Virtual environments
venv/
.venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Setuptools distribution folder
*.egg-info/
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDE specific
.idea/
.vscode/